/* Hide scrollbars on all major engines */
.scrollbar-none {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
  scrollbar-color: transparent transparent;
}

.scrollbar-none::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
  display: none;
}

.scrollbar-none::-webkit-scrollbar-thumb {
  background: transparent;
}
